.bodyBackgorund {
  background-image: url("bg8.jpg");
  background-position: center;
  background-size: cover;
}

body {
  overflow: hidden
}

h1 {
  color: black;

}

#myCanvas {

  border-width: 10px;
  background-image: url("part5.png");
  background-size: contain;
  /* Mantém proporções */
  background-position: center;
  background-repeat: no-repeat;
  border-style: ridge;
  margin: 5px;
}

/* button {
  background-color: #4CAF50;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
  font-size: 16px;
  margin: 5px;
} */

#botoes{
  margin: auto;
}

input {
  margin-right: 20px;
}

.--dimensions {
  width: 400px;
  height: 65%;
}

.--border {
  border: 3px solid #333;
}

canvas {
  display: block;
  margin: 0 auto;
}
